{% extends 'base.html' %}

{% block title %}
My Restaurants
{% endblock title %}

{% block content %}
<h2>My Restaurants     <small><a href=" {% url 'restaurants:create' %}">Add</a> </small></h2>
{% for obj in object_list%}
<ul>
    <li>
        <a href=" {{obj.get_absolute_url}} ">{{obj.name}}</a> {{obj.category}} {{obj.location}} {{obj.timestamp}} {{obj.updated}}
    </li>
</ul>
{% empty %}
<li><a href="{% url 'restaurants:create' %}">Add restaurant</a> </li>
{% endfor %}
{% endblock content %}