{% extends 'base.html' %}

{% block title%}
{{ object.username }}
{% endblock title %}

{% block content %}
<h1>{{object.username}}</h1>

{% for rest in object.restaurant_set.all %}
<li>
    <b>{{ rest.name}}</b> {{ rest.location}} <small>{{rest.category}}</small>
    {% if object.item_set.all.exists %}
    {% for it in rest.item_set.all %}
    </br><b>Items</b>
    <ul>
        <li style="margin-bottom:20px">
        {{it.name}} </br>
        {% for cont in it.get_contents %}
        <span style="margin-right:5px ; background-color:#ccc; margin-left:5px; padding:1px" >{{cont}}</span>
        {% endfor %}
        {% for excl in it.get_excludes %}
        {{excl}}
        {% endfor %}
        </li>
    </ul>
    {% endfor %}
    {% endif %}
</li>
{% endfor %}

{% endblock content %}