{% extends 'base.html' %}

{% block title%}
{{ object.username }}
{% endblock title %}

{% block content %}

<div class="row">
<form class="form" method="GET"  action=".">
    <input type="text" placeholder="Search..." name="qs" value="{{request.GET.qs}}">
    <button class="btn btn-default" type="submit">Search</button>
</form>
    {% if user != object %}
{% if not is_requested %}
<form class="form" method="POST" action=" {% url 'users:friend-add'%}">{% csrf_token %}
    <input type="hidden" name="username" value="{{object.username}}">
    <input type="hidden" name="status" value="{% if is_friend %}is_friend{% else %}not_friend{% endif %}">
    <input type="hidden" name="path" value="{{request.path}}">
    <button class="{% if is_friend %}btn btn-default{% else %}btn btn-primary{% endif %}">{% if is_friend %}Remove Friend{% else %}Add friend{% endif %}</button>
</form>
{% endif %}
<form class="form" method="POST" action="{% url 'users:follow-add' %}">{% csrf_token %}
    <input type="hidden" name="username" value="{{object.username}}">
    <input type="hidden" name="status" value="{% if is_follower %}is_followed{% else %}not_followed{% endif %}">
    <input type="hidden" name="path" value="{{request.path}}">
    <button class="{% if is_follower %}btn btn-default{% else %}btn btn-primary{% endif %}">{% if is_follower %}Unfollow{% else %}Follow{% endif %}</button>
</form>
    {% endif %}
</div>

<h1>{{object.username}}</h1>
{% if search_query %}

{% for rest in search_query %}

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <p><b>{{ rest.name}}</b> <a href="{{request.path}}?qs={{ rest.location}}">{{rest.location}}</a>
                    <small><a href="{{request.path}}?qs={{rest.category}}">{{rest.category}}</a></small></p>

                {% if rest.item_set.all.exists %}
                    <ul>
                        {% for item in rest.item_set.all %}
                            <li style="margin-bottom:20px">
                                {{item.name}} </br>
                                {% for ing in item.get_contents %}
                                <a href=" {{request.path}}?qs={{ing}}">{{ing}}</a>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="lead">No Items Found</p>
                {% endif %}


            </div>
        </div>
    </div>


{% endfor %}
{% else %}
<p class="lead">No Restaurants Found</p>
{% endif %}

{% endblock content %}