{% extends 'base.html' %}

{% block title%}
Menu Items
{% endblock title %}

{% block content %}
<h2>Menu Items    <small><a href="{% url 'menus:create' %}">Add</a> </small></h2>

<div class="row">
    <div class="col-md-12">
        {% for obj in object_list %}
        <div class="card">
                <a href=" {{obj.get_absolute_url}} ">{{obj.name}}</a>
                <form class="form" method="POST" action="{% url 'menus:delete' %}">{% csrf_token %}
                <input type="hidden" name="id" value="{{obj.id}}">
                <button class="btn btn-default">Delete</button>
                </form>
            {% if obj.contents %}
            <p>
                Contents:

            {% for item in obj.get_contents %}
            {{ item }}
            {% endfor %}
            </p>

        {% endif %}

         {% if obj.excludes %}
            <p>
                Excludes:

            {% for item in obj.get_excludes %}
            {{ item}}
            {% endfor %}
            </p>
        {% endif %}

</div>


{% empty %}
<a href=" {%url 'menus:create' %} ">Add Item</a>
{% endfor %}
</div>
</div>
{% endblock content %}